<mat-toolbar color="accent">
  <!-- <button
    hidden="true"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>
    מיני-ישראל
  </span>

  <ul>
    <li *ngFor="let cat of catagories">
      <a mat-button routerLink="{{ cat.path }}" routerLinkActive="mat-primary">
        {{ cat.name }}
      </a>
    </li>
  </ul>

  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>expand_more</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>admin_panel_settings</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>admin_panel_settings</mat-icon>
  </button>
</mat-toolbar>
