.example-spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;

  font-size: 1.0em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: sticky;
  z-index: 1000;
  top: 0;
}
