.example-spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: #ccc;
  font-size: 1.0em;
  font-weight: lighter;
}

ul li a {
  padding: 0 1em;
  display: inline-block
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: sticky;


}

.unscrolled {
  background-color: var(--color-main-transparent);
}

.sidenav-warp {
  display: flex;
  width: var(--page-size);
  margin: 0 auto;
}



.links-mobile {
  display: none;
}

@media only screen and (min-width: 1000px) {
  app-main-nav {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  mat-toolbar {
    display: none;
    z-index: 9999;
  }
}



.mat-primary {
  color: white !important;
  text-shadow: 0 0 10px #69e0ff,
    0 0 20px #69e0ff,
    0 0 40px #69e0ff;
}

.tab-line {
  height: 5px;
  position: relative;
  background-color: var(--color-main-transparent);
  ;
}

.line {

  background-color: #69e0ff;
  height: 5px;
  position: absolute;
  width: 100px;
  left: 400px;
  transition: all 0.2s ease-in-out 0s
}
