.example-spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;

  font-size: 1.0em;
}

ul li a {
  padding: 0 1em;
  display: inline-block
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: sticky;


}

.unscrolled {}

.sidenav-warp {
  display: flex;
  width: var(--page-size);
  margin: 0 auto;
}



.links-mobile {
  display: none;
}

@media only screen and (min-width: 1000px) {
  app-main-nav {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  mat-toolbar {
    display: none;
    z-index: 9999;
  }
}
