<div class="black">
    <div class="site-row">
        אנחנו גם ב
    </div>
</div>
<div class="site-row">
    <div class="flex">
        <div>
            <button mat-button>
                תנאי שימוש
            </button>
            <button mat-button>
                אודות
            </button>
            <button mat-button>
                צור קשר
            </button>
            <button mat-button>
                מדיניות הפרטיות
            </button>
        </div>
    </div>
    <p>
        © פלוטו שיתן פה טקסט 2020
        
    </p>
</div>
