<div class="black">
    <div class="site-row">
        <h2>
            אנחנו גם ב
        </h2>
        <ul>
            <li>
                <a href="#" class="youtube"> youtube </a>
            </li>
            <li>
                <a href="#" class="discord"> Discord </a>
            </li>
            <li>
                <a href="#" class="twitch"> Twitch </a>
            </li>
        </ul>
    </div>
</div>
<div class="site-row 2ndrow">
    <div class="flex">
        <div>
            <button mat-button>
                תנאי שימוש
            </button>
            <button mat-button>
                אודות
            </button>
            <button mat-button>
                צור קשר
            </button>
            <button mat-button>
                מדיניות הפרטיות
            </button>
        </div>
    </div>
    <p>
        © פלוטו שיתן פה טקסט 2020
    </p>
</div>
