:host {
    background: #22211f;

    display: block;
    position: relative;
    z-index: 0;

}

.flex {
    display: flex;

}

.flex>div {
    border-right: 1px solid var(--color-main);
    display: inline-block;
    height: 100%;
    margin: 1em 1em;

}

.flex>div:first-child {
    border-right: none;
}

a {
    text-decoration: none;

}

ul,
li {
    list-style: none;
}

.black {
    background-color: #333;
    text-align: center;
}

.black button {
    width: 30px;
    background: none;
    color: white;
}

.black button img {}

.black h2 {
    display: inline-block;
    font-weight: normal;
    font-size: 19px;
    color: rgba(255, 255, 255, .8);
}

.black ul {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}



.black li {
    margin: 0 0.5em;
    display: inline-block;
}

.youtube {
    background: url('/assets/img/icons/social/youtube.svg');

    vertical-align: top;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-indent: -9999px;
    vertical-align: top;

}

.discord {
    background: url('/assets/img/icons/social/discord.svg');

    vertical-align: top;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-indent: -9999px;

    vertical-align: top;
}

.twitch {
    background: url('/assets/img/icons/social/twitch.svg');

    vertical-align: top;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-indent: -9999px;
    vertical-align: top;

}

.youtube,
.discord,
.twitch {
    filter: invert(0.5);

}


.youtube:hover,
.discord:hover,
.twitch:hover {
    filter: invert(1);

}
