<div class="site-row">
  <div class="flex">
    <div>
      <ul>
        <li><a href="" mat-button="">דוגמא דוגמא</a></li>
        <li><a href="" mat-button="">דוגמא דוגמא</a></li>
        <li><a href="" mat-button="">דוגמא דוגמא</a></li>
        <li><a href="" mat-button="">דוגמא דוגמא</a></li>
        <li><a href="" mat-button="">דוגמא דוגמא</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a href="" mat-button="">דוגמא דוגמא</a></li>
        <li><a href="" mat-button="">דוגמא דוגמא</a></li>
        <li><a href="" mat-button="">דוגמא דוגמא</a></li>
        <li><a href="" mat-button="">דוגמא דוגמא</a></li>
        <li><a href="" mat-button="">דוגמא דוגמא</a></li>
      </ul>
    </div>
  </div>
  <div style="text-align: left;">
    <a mat-button href="https://antonweb.co.il">
      {{ "נוצר על ידי" + " \t" + " " + " antonweb" }}
      {{ " " }}
    </a>
  </div>
</div>
