<div>
    <div class="btn-wrap">
        <div class="btn-sub-wrap">
            <div class="left">
                <button
                    mat-button
                    (click)="moveLeft(-432)"
                    [disabled]="active >= newsRaw.length || timeOut"
                >
                    <mat-icon>
                        keyboard_arrow_left
                    </mat-icon>
                </button>
            </div>
            <div class="right">
                <button
                    mat-button
                    (click)="moveLeft(432)"
                    [disabled]="!(active > 1) || timeOut"
                >
                    <mat-icon>
                        keyboard_arrow_right
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="slider-body" #sliderBody>
        <div class="scroll">
            <div
                class="{{ i + 1 === active ? 'active item' : 'item' }}"
                *ngFor="let nw of newsRaw; let i = index"
                [class.mat-elevation-z8]="i + 1 === active"
                routerLink="{{ '/news/' + nw.id }}"
            >
                <app-slied-item
                    [isActive]="i + 1 === active"
                    [date]="nw.date"
                    [title]="nw.title"
                    [imgSrc]="nw.imagePath"
                ></app-slied-item>
            </div>
            <div class="item sudo"></div>
            <div class="item sudo"></div>
        </div>
    </div>
</div>

<div class="single-item"></div>
