:host {
    position: relative;
    display: block;
}

.slider-body {

    padding-top: 2em;
    padding-bottom: 2em;
    touch-action: pan-y;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    scroll-behavior: smooth;
}

.scroll {
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
}

.item {
    box-sizing: border-box;
    width: 400px;
    height: 500px;
    content: " ";
    display: inline-block;
    background-color: white;
    margin: 1em;
    transition: transform .5s,
        opacity .5s,
        z-index .5s;
    scroll-snap-align: center;

}

.active {}

.left,
.right {
    cursor: pointer;
    z-index: 1000;
    background: rgb(0, 0, 0, 0.4);
    color: white;
}


.btn-wrap {


    position: absolute;
    width: 100%;
    right: 0;
    overflow: hidden;
    box-sizing: border-box;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;


}

.btn-sub-wrap {
    position: relative;
    width: 100vw;
    display: block;
    box-sizing: border-box;
    height: 37px;


}

.right {
    position: absolute;
    right: 0;
}

.left {
    position: absolute;
    left: 0;


}

.item.active {
    position: relative;
    top: -2em;
}

.sudo {
    visibility: hidden;
}
