.slider-body {

    padding: 2em;
    touch-action: pan-y;
    overflow: hidden
}

.scroll {
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
}

.item {
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    content: " ";
    display: inline-block;
    background-color: white;
    margin: 1em;
    transition: transform .5s,
        opacity .5s,
        z-index .5s;
    scroll-snap-align: center;

}

.active {
    cursor: grab;
}
