<div>
    <div class="btn-wrap">
        <div class="btn-sub-wrap">
            <div class="left">
                <button mat-button (click)="moveLeft(-432)">
                    <mat-icon>
                        keyboard_arrow_left
                    </mat-icon>
                </button>
            </div>
            <div class="right" mat-button (click)="moveLeft(432)">
                <button mat-button>
                    <mat-icon>
                        keyboard_arrow_right
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="slider-body" #sliderBody>
        <div class="scroll">
            <div class="item">
                <app-slied-item></app-slied-item>
            </div>
            <div class="item">
                <app-slied-item></app-slied-item>
            </div>
            <div class="item active" [class.mat-elevation-z8]="true">
                <app-slied-item [isActive]="true"></app-slied-item>
            </div>
            <div class="item">
                <app-slied-item></app-slied-item>
            </div>
            <div class="item">
                <app-slied-item></app-slied-item>
            </div>
            <div class="item">
                <app-slied-item></app-slied-item>
            </div>
            <div class="item">
                <app-slied-item></app-slied-item>
            </div>
            <div class="item">
                <app-slied-item></app-slied-item>
            </div>
            <div class="item">
                <app-slied-item></app-slied-item>
            </div>
            <div class="item">
                <app-slied-item></app-slied-item>
            </div>
            <div class="item">
                <app-slied-item></app-slied-item>
            </div>
            <div class="item">
                <app-slied-item></app-slied-item>
            </div>
        </div>
    </div>
</div>

<div class="single-item"></div>
