.slider-body {

    padding: 2em;
    touch-action: pan-y;
    overflow: hidden
}

.scroll {
    white-space: nowrap;

}

.item {
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    content: " ";
    display: inline-block;
    background-color: white;
    margin: 1em;
    transition: transform .5s,
        opacity .5s,
        z-index .5s;

}

.active {
    cursor: grab;
}
