:host {
  display: inline-block;
  padding: 8px 8px;
  background-color: rgba(18, 18, 18, 0.8);

  transition: 1.3s;
  width: 350px;
  margin: 0.5em 2em;
  box-shadow: 0 0 20px rgba(18, 18, 18, 0.8);
  border: 2px solid rgba(18, 18, 18, 0.8);
  color: white;
  height: 420px;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  z-index: 7;
  opacity: 0.9;

}

:host:before {
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  position: absolute;
  left: 0;
  z-index: -10;
  content: "x ";


  filter: grayscale(100%);
}


:host:hover>img {
  color: red;
  transform: scale(1.2);

  border: 2px solid red;

}

:host:hover {
  background-color: rgba(18, 18, 18);
  opacity: 1;

}

.title {

  width: 100%;
  font-size: 1.2rem;
}

.img-wrap {
  overflow: hidden;
  width: 100%;
  height: 190px;
  margin: 10px -1em;
  z-index: 40;
  transform: scale(1.2);

}

.img {
  width: 100%;
  transform: translateX(100px);
  z-index: 42;

}



img {
  transition: all 0.5s 0s ease;

}

img:hover {
  transform: scale(1.4);
}



.date {
  text-align: left;
  color: var(--sub-color);
  position: absolute;
  bottom: 0;
  left: 1em;
}
