:host {
    text-align: right;
    margin: 0.5em auto;
}




.text {}

.text {

    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    height: 100%;

    text-decoration: none;
    overflow: hidden;
    width: calc(100% - 285px);
    box-sizing: border-box;
    padding: 1em 1em;
    margin-bottom: auto;

}

img {
    background-size: 100% 100%;

}

.date {}

.imgWrap {
    width: 592px;
    height: 342px;
    overflow: hidden;
    object-fit: cover;


}
