:host {
    text-align: right;
    margin: 0.5em auto;
    position: relative;
}

.text {
}

.text {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    height: 100%;

    text-decoration: none;
    overflow: hidden;

    box-sizing: border-box;
    padding: 1em 1em;
    margin-bottom: auto;
}

img {
    width: 100%;
    height: 200px;
}

.date {
    position: absolute;
    bottom: 0;
}

.imgWrap {
    height: auto;
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.imgWrap:before {
    content: " ";
    background-image: url("/assets/img/lines/line-left-2.png");
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 10px;
    height: 200px;
    background-position: center;
    background-size: cover;
}
