:host {
  text-align: right;
  margin: 0.5em auto;
}




.text {
  flex: 0 1;
}

.text {

  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #393b40;
  text-decoration: none;
  overflow: hidden;
  width: calc(100% - 285px);
  box-sizing: border-box;
  padding: 1em 1em;

}

img {
  width: 265px;
  height: 140px;
  margin-right: 20px;
  display: inline-block;

}
