<div class="background-arena">
    <div class="big-pad"></div>
    <div class="screen">
        <div class="scroll-icon" (click)="scrollTo(allNewDIv)">
            <mat-icon>expand_more</mat-icon>
        </div>
    </div>
</div>
<div class="site-row-background" #allNewDIv>
    <div class="site-row">
        <br />

        <div style="color: white; text-align: right;">
            <ng-container *ngFor="let p of getPriority; let i = index">
                <button
                    mat-button
                    *ngIf="!typeFilter[i]"
                    (click)="typeFilter[i] = true"
                >
                    <div>{{ p.key }}</div>
                </button>
                <button
                    mat-button
                    *ngIf="typeFilter[i]"
                    mat-flat-button
                    (click)="typeFilter[i] = false"
                    color="primary"
                >
                    <div>{{ p.key }}</div>
                </button>
            </ng-container>
        </div>
        <div>
            <mat-card *ngFor="let n of rawNews.slice(0, 3 + maxPosts)">
                <app-mini-card
                    routerLink="{{ '/news/' + n.id }}"
                    [title]="n.title"
                    [subText]="n.subText"
                    [imagePath]="n.imagePath"
                    [date]="n.date"
                >
                </app-mini-card>
            </mat-card>
        </div>
    </div>

    <div class="site-row load-more-wrap" *ngIf="maxPosts + 3 <= rawNews.length">
        <button mat-button (click)="increaseMaxPost()">
            טען עוד
        </button>
    </div>
</div>
<!-- <app-card
      *ngFor="let n of rawNews.slice(3, 999)"
      [title]="n.title"
      [class.mat-elevation-z2]="true"
    >
    </app-card> -->

<!-- <mat-card class="example-card" *ngFor="let n of rawNews">
  </mat-card> -->
<!-- <mat-card-header>
    <mat-card-title>
      {{ n.title }}
    </mat-card-title>
    <mat-card-subtitle>אני לא מרגיש את הפה שלי</mat-card-subtitle>
  </mat-card-header>
  <div class="imgcut">
    <img mat-card-image [src]="n.imagePath" alt="Photo of a Shiba Inu" />
  </div>
  <mat-card-content>
    <p [innerHTML]="n.content"></p>
    <mat-divider></mat-divider>
    <p>
      בלינך רוגצה. לפמעט סה"כ תגובת: 666 פורסם ב 01.02.2018
    </p>
  </mat-card-content> -->
