:host {
    --ime-pad: 0em;
}


img {}

.imgcut {
    max-height: 350px;
    width: 100%;
    overflow: hidden;
}

mat-card {
    margin-top: 1em;
    z-index: 5;
    position: relative;
    border-radius: 0 !important;
}

app-card {
    position: relative;
}


mat-card:hover {
    box-shadow: 0 0 5px var(--color-main);
    cursor: pointer;
}

mat-card-footer {
    text-align: left;
    padding: 0em 1em;
    color: #ccc;
}

.imgcut {
    margin: 1em auto;
}

mat-card {
    padding: 0;
    overflow: hidden;
}

.site-row {
    text-align: center;
}

app-card {
    text-align: right;
    width: 300px;
    overflow: hidden;
    height: 450px;
    position: relative;
    z-index: 2;
    opacity: 0.9;
    box-sizing: border-box;
}

.load-more-wrap button {
    width: 100%;

}

.background-arena {
    padding-bottom: var(--ime-pad);
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;



}



.site-row-background {
    position: relative;
    margin-top: calc(var(--ime-pad) * -1);

    z-index: 3;
    overflow: hidden;
}

.site-row:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;

    /* background: linear-gradient(180deg, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 1) 10%, rgba(240, 240, 240, 1) 100%) !important; */

    height: 100%;
    width: 100%;
    display: block;
    transform: scaleX(1.1);
}




.big-pad {}

.scroll-icon {
    display: block;
    display: none !important;
    font-size: 18em;
    z-index: 5;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    animation: scroll-animation 0.5s infinite;
    animation-direction: alternate-reverse;

}

.mat-icon {
    font-size: 50px;
    color: white;
    cursor: pointer;
    text-shadow: 0 0 10px #69e0ff,
        0 0 20px #69e0ff,
        0 0 40px #69e0ff;
}

.screen {
    z-index: 0;
    box-sizing: border-box;
    position: absolute;
    display: block;

    width: 100%;
}

@keyframes scroll-animation {
    from {
        bottom: 0;
    }

    to {
        bottom: 0.05em;
    }
}



.site-row-background {
    background-color: transform !important;
}

button {
    cursor: pointer;
    position: relative;
    z-index: 10;
    border-radius: 0 !important;
    color: black;
}
