<div class="head">
  <div class="subhead">
    <video autoplay muted>
      <source src="minecraft1.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="background"></div>
</div>
<div class="warp">
  <div class="slide">
    חדש: טוסטר משולשים
    <p>
      טקס טקס טקס טקס טקס טטקס
      <br />
      שחבשדג שדגשדג
    </p>
    <p>
      טקס טקס טקס טקס טקס טטקס
      <br />
      שחבשדג שדגשדג
    </p>
    <div>
      <button mat-flat-button routerLink="/login" color="primary">
        הרשם
      </button>
      <button
        mat-stroked-button
        color="primary"
        routerLink="/login"
        class="login"
      >
        התחבר
      </button>
    </div>
  </div>
</div>
