main {

  /* background-color: #fff; */

  color: black;
}

header {
  position: sticky;
  margin: 0 auto;
  top: 0;
  z-index: 4;
  width: 100%;

}

app-sub-video {
  box-sizing: border-box;
  width: 100%;
  height: calc(100%);
  display: block;

}

app-header {

  display: block;
  width: 100%;
}
