<div class="warp">
  <mat-toolbar class="b" [class.mat-elevation-z8]="true">
    <button
      mat-button
      routerLink="main"
      routerLinkActive="mat-accent"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      ראשי
    </button>
    <button
      mat-button
      routerLink="news/news-list"
      routerLinkActive="mat-accent"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      חדשות
    </button>
  </mat-toolbar>
</div>
<div class="sub-page">
  <div class="site-row">
    <router-outlet></router-outlet>
  </div>
</div>
