<div class="warp">
  <mat-toolbar class="b" [class.mat-elevation-z8]="true">
    <button
      mat-button
      routerLink="main"
      routerLinkActive="mat-accent"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      ראשי
    </button>
    <button
      mat-button
      routerLink="news/"
      [routerLinkActiveOptions]="{ exact: false }"
      routerLinkActive="mat-accent"
    >
      חדשות
    </button>
    <button
      mat-button
      routerLink="survival/"
      [routerLinkActiveOptions]="{ exact: false }"
      routerLinkActive="mat-accent"
    >
      survival
    </button>
    <button
      mat-button
      routerLink="minigames/"
      [routerLinkActiveOptions]="{ exact: false }"
      routerLinkActive="mat-accent"
    >
      minigames
    </button>
    <button
      mat-button
      routerLink="support/"
      [routerLinkActiveOptions]="{ exact: false }"
      routerLinkActive="mat-accent"
    >
      support
    </button>
  </mat-toolbar>
</div>
<div class="sub-page">
  <div class="site-row">
    <router-outlet></router-outlet>
  </div>
</div>
