<div class="video-wrap">
    <video autoplay muted loop>
        <source src="/assets/vid/minecraft1.mp4" autoplay muted loop />
    </video>
    <div class="bg-imag"></div>
    <div class="content">
        <div>
            <div class="fake-hr-line-1"></div>
            <div class="texter">
                <h2>
                    ברוכים הבאים לשרת שמשנה את חוקי המשחק!
                </h2>
            </div>
            <div class="fake-hr-line-1"></div>
            <br />
            <!-- <div class="scroll-icon">
                <mat-icon style="font-size: 2rem !important;"
                    >expand_more</mat-icon
                >
            </div> -->
        </div>
    </div>
</div>
<app-slide></app-slide>
