:host {
  background: white;
  display: inline-block;
  padding: 0.5em 0.3em;
  margin: 0.2em 0.2em;
  width: 250px;
  color: var(--color-main);
  height: 75px;
  box-shadow: 5px 5px 5px #aaaaaa;


}

:host:hover {
  background-color: var(--color-main-blue);
}

:host.active {
  box-shadow: none;
  background-color: transparent;
}

img {
  width: 75px;
  height: 75px;
  background-size: contain;
  display: inline-block;

  box-sizing: border-box;

}

.title {
  position: relative;
  z-index: 1;
  display: inline-block;
  height: 100%;
  color: #393b40;

  overflow: hidden;
  width: calc(100% - 75px);

  font-size: 1.2em;
  box-sizing: border-box;



}

.title>div {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  height: 100%;


}
