:host {
  background: white;

  display: inline-block;
  padding: 0.2em 0.2em;
  margin: 0.2em 0.2em;
  width: 250px;
  color: var(--color-main);
  height: 75px;
  box-shadow: 5px 5px 5px #aaaaaa;

}

:host:hover {
  background-color: var(--gray-background-active);
}

img {
  width: 75px;
  height: 75px;
  background-size: contain;
  display: inline-block;
}

.title {
  position: relative;
  z-index: 1;
  display: inline-block;
  height: 100%;
  color: #393b40;
  text-decoration: none;
  overflow: hidden;
  width: calc(100% - 75px);
  padding: 1em 1em;
  font-size: 1.2em;
  box-sizing: border-box;

}
