@import '~@angular/material/theming';
@include mat-core();
$candy-app-primary: mat-palette($mat-blue);

$candy-app-accent: mat-palette($mat-green, 900, 700, 800);
$candy-app-warn: mat-palette($mat-red, A200, A300, A400);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);
