/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

body {
  background-image: url("assets/img/minecraft-dirt.jpg");
}

body {
  /* background: linear-gradient(rgb(0, 0, 0.05), rgba(255, 0, 0, 0.5)); */
}

app-root {
  height: 100%;
  box-sizing: border-box;
  display: block;
  overflow-y: scroll;
}

header {
  direction: rtl;
}

main {
  direction: rtl;
}

:root {
  --page-size: 1600px;
  --sub-color: #ccc;
  --gray-background: #f0f0f0;
  --gray-background-active: #c7c7c7;
  --url-image-minecraft-arena: "assets/img/minecraft-arena.png";
  --url: url("https://download.unsplash.com/photo-1420708392410-3c593b80d416");
  --color-main: #111;
}

.site-row {
  max-width: var(--page-size);
  margin: 0 auto;
  padding: 1em;
}

.site-row-background {
  margin: 0 auto;

  background-color: var(--gray-background);
}

.background-arena {
  background-image: url("assets/img/muiecraft-arena.png");
  background-position: center;
  background-size: cover;
}

.background-city {
  background-image: url("assets/img/minecraft-city.png");
  background-position: center;
  background-size: cover;
}

.best-fit {
  background-position: center;
  background-size: cover;
}



.big-pad {
  padding: 6em;
}
