/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

body {
  background-image: url("assets/img/minecraft-dirt.jpg");
  background-repeat: repeat;
}

body {
  /* background: linear-gradient(rgb(0, 0, 0.05), rgba(255, 0, 0, 0.5)); */
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
