mat-form-field {
    width: 100%;
}

button {
    width: 80%;
    margin: 1em auto;
}

:host {
    text-align: center;
    height: 100vh;
    display: block;
    padding: 4em 4em;
    background-position: center;
    background-size: cover;
    background-image: url("https://i.imgur.com/GUTseTO.jpg");
    box-sizing: border-box;
}

main {
    height: 100% !important;
}

.big-pad {
    color: white;
}
