<div class="">
  <div class="site-row">
    <mat-card [class.mat-elevation-z8]="true">
      <form>
        <mat-form-field appearance="fill">
          <mat-label>
            דיסקורד או\ו אימייל
          </mat-label>
          <input matInput placeholder="israil@mail.co.il   israil#4696" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <textarea rows="20" matInput></textarea>
        </mat-form-field>
        <button mat-flat-button color="primary">
          שלח
        </button>
      </form>
    </mat-card>
  </div>
</div>
