<div class="background-city" [class.mat-elevation-z8]="false">
  <div class="site-row big-pad">
    <h1>
      עולם הסרביבל
    </h1>
    <h2>
      מידע ו עוד שיט אחר כזה או אחר
    </h2>
  </div>
</div>
<div class="spacer"></div>
<div class="site-row-background">
  <div class="site-row">
    <div class="middle">
      <app-feature-item
        *ngFor="let feat of featureList; ; let i = index"
        [class]="i == 5 ? 'active' : ''"
        [title]="feat.title"
      ></app-feature-item>
    </div>
  </div>
</div>
<div class="spacer"></div>

<div>
  <app-shared-feature-detail> </app-shared-feature-detail>
</div>
